{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

<style>
{% block style %}
.container{
  width: 100%;
  margin: 0;
  padding: 0;;
}

.act_complete{
  height: 30em;
  text-align: center;
}

.welcome{
  font-size: 3em;
  padding-top: 3em;
}

.welcomepic{
  background: url("{% static './img/nick-morrison.jpg' %}") no-repeat;
  background-size: cover;
  height: 40em;
  margin-top: -2em;
}

{% endblock %}
</style>

{% block content %}
<div class="act_complete">
  <div class="container">
    <h1 class="welcome"> Welcome to Califuse!</h1>
    <p class='lead'>{% trans "Your account is now activated." %}</p>
  </div>
</div>

<div class="welcomepic">
  <div class="container">

  </div>
</div>

{% endblock %}
