{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

<style>
{% block style %}
.container{
  margin: 0;
  padding: 0;
  width: 100%;
}
.act_fail{
  height: 30em;
  text-align: center;
}

.failpic{
  background: url("{% static './img/nick-morrison.jpg' %}") no-repeat;
  background-size: cover;
  height: 40em;
  margin-top: -2em;
}

{% endblock %}
</style>

{% block content %}
<div class="act_fail">
  <div class="container">
    <p>{% trans "Account activation failed" %}</p>
  </div>
</div>

<div class="failpic">
  <div class="container">

  </div>
</div>
{% endblock %}
