{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Log out | {{ block.super }}{% endblock %}

<style>
{% block style %}
.container{
  width: 100%;
  margin: 0;
  padding: 0;;
}

.logpic{
  background: url("{% static './img/thom.jpg' %}") no-repeat;
  background-size: cover;
  height: 60em;
}

.logout{
  height: 5em;
  font-size: 3em;
  padding-top: 1.5em;
  text-align: center;
}

.logs{
  text-decoration: none;
  color: #668B8B;
}

.logs:hover{
  color: #FF2400;
  text-decoration: none;
}

{% endblock %}
</style>

{% block content %}
<div class="logout">
  <div class="container">
    <p class='text-align-center lead'>You have successfully logged out.<br>Come again soon!</p><p class='text-align-center lead'><a href="{% url 'auth_login' %}" class="logs">Login</a></p>
  </div>
</div>


<div class="logpic">
  <div class="container">

  </div>
</div>


{% endblock %}
