{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

<style>
{% block style %}
.container{
  width: 100%;
  margin: 0;
  padding: 0;
}

.changecomplete{
  padding-top: 3em;
  padding-bottom: 3em;
  height: 11.5em;
  font-size: 2em;
  text-align: center;
}

.passrstpic{
  background: url("{% static './img/alejandro-escamilla.jpg' %}") no-repeat;
  background-size: cover;
  height: 40em;
  margin-top: -2em;
}

{% endblock %}
</style>

{% block content %}
<div class="container">
  <p class="changecomplete">{% trans "Password changed" %}</p>
</div>

<div class="passrstpic">
  <div class="container">

  </div>
</div>

{% endblock %}
