{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

<style>
{% block style %}

.passsuccess{
  padding-top: 3em;
  padding-bottom: 3em;
  font-size: 2em;
  height: 11.5em;
}

.passrstpic{
  background: url("{% static './img/Milky_Way.jpg' %}") no-repeat;
  background-size: cover;
  width: 150em;
  height: 40em;
  margin-left: -20em;
  margin-top: -2em;
}

.logs{
  color: #668B8B;
}

.logs:hover{
  color: #FF2400;
  text-decoration: none;
}
{% endblock %}
</style>

{% block content %}
<div class="passsuccess">
  <p>{% trans "Password reset successfully" %}</p>

  <p><a href="{% url 'auth_login' %}" class="logs">{% trans "Log in" %}</a></p>
</div>

<div class="passrstpic">

</div>

{% endblock %}
