{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

<style>
{% block style %}
.container{
  width: 100%;
  margin: 0;
  padding: 0;
}

.passdone{
  padding-top: 4em;
  padding-bottom: 3em;
  font-size: 2em;
  height: 11.5em;
}

.passrstpic{
  background: url("{% static './img/alejandro-escamilla.jpg' %}") no-repeat;
  background-size: cover;
  height: 40em;
  margin-top: -2em;
}

{% endblock %}
</style>

{% block content %}
<div class="passdone">
  <div class="container">
    <p class='lead text-align-center'>{% trans "An email with a password reset link has been sent." %}</p>
  </div>
</div>

<div class="passrstpic">
  <div class="container">

  </div>
</div>
{% endblock %}
