{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

<style>
{% block style %}
.container{
  width: 100%;
  margin: 0;
  padding: 0;
}

.change_pass{
  height: 30em;
}

.passrstpic{
  background: url("{% static './img/alejandro-escamilla.jpg' %}") no-repeat;
  background-size: cover;
  height: 40em;
  margin-top: -2em;
}

.passform{
  height: 11.5em;
  padding-left: 5em;
  padding-right: 10em;
  padding-top: 5em;
}

{% endblock %}
</style>

{% block content %}
<div class="change_pass">
  <div class="container">
  {% if validlink %}
    <form class='passform' method="post" action=".">
      {% csrf_token %}
      {{ form|crispy }}

      <input class="btn btn-default btn-block" type="submit" value="{% trans 'Submit' %}" />
    </form>


  {% else %}

  <p>{% trans "Password reset failed" %}</p>

  {% endif %}
  </div>
</div>

<div class="passrstpic">
  <div class="container">

  </div>
</div>

{% endblock %}
