{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

<style>
{% block style %}
.container{
  width: 100%;
  margin: 0;
  padding: 0;
}

.passrst{
  padding-top: 2em;
  padding-bottom: 5em;
  font-size: 2em;
  height: 15em;
}


.passrstpic{
  background: url("{% static './img/alejandro-escamilla.jpg' %}") no-repeat;
  background-size: cover;
  height: 40em;
  margin-top: -2em;
}

.pass_reset{
  padding-left: 5em;
  padding-right: 10em;
}


{% endblock %}
</style>

{% block content %}
<div class="container">
  <div class='passrst' class='col-sm-6 col-sm-offset-3'>
    <h1>Password Reset</h1>
    <p class='lead'>Reset your password using your email below.</p>
    <form class="pass_reset" method="post" action=".">
      {% csrf_token %}
        {{ form|crispy }}

      <input class='btn btn-default btn-lg' type="submit" value="{% trans 'Reset' %}" />
    </form>
  </div>
</div>

<div class="passrstpic">
  <div class="container">

  </div>
</div>
{% endblock %}
