{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

<style>
{% block style %}

.passdone{
  padding-top: 4em;
  padding-bottom: 3em;
  font-size: 2em;
  height: 11.5em;
}

.passrstpic{
  background: url("{% static './img/Milky_Way.jpg' %}") no-repeat;
  background-size: cover;
  width: 150em;
  height: 40em;
  margin-left: -20em;
  margin-top: -2em;
}

{% endblock %}
</style>

{% block content %}
<div class="passdone">
  <p class='lead text-align-center'>{% trans "An email with a password reset link has been sent." %}</p>
</div>

<div class="passrstpic">

</div>
{% endblock %}
