{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Register | {{ block.super }}{% endblock %}

<style>
{% block style %}
.container{
  width: 100%;
  margin: 0;
  padding: 0;
}

.rgstrpic{
  background: url("{% static './img/ewan-robertson.jpg' %}") no-repeat;
  background-size: cover;
  height: 60em;
}

.row{
  padding-top: 3em;
}

.need2log{
  text-align: center;
  height: 6em;
  padding-top: -1em;
}


{% endblock %}
</style>


{% block content %}
<!-- <div class='rgstrpic'>

</div> -->

<div class='row'>
  <div class="container">
    <div class='col-sm-6 col-sm-offset-3'>
      <h1>Register for Califuse!</h1>
      <form class="register" method="post" action=".">
        {% csrf_token %}
        {{ form|crispy }}

        <input class='btn btn-default btn-block' type="submit" value="{% trans 'Join' %}" />
      </form>
    </div>
  </div>
</div>

<hr/>
<div class='row'>
  <div class="container">
    <div class='col-sm-6 col-sm-offset-3 text-align-center'>
      <p class="need2log">Need to <a href="{% url 'auth_login' %}">Login</a>?</p>
    </div>
  </div>
</div>

<div class='rgstrpic'>
  <div class="container">

  </div>
</div>

{% endblock %}
