{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

<style>
{% block style %}
.container{
  width: 100%;
  margin: 0;
  padding: 0;;
}

.regclosed{
	height: 10em;
	padding-top: 3em;
	padding-bottom: 3em;
	font-size: 1.25em;
}

.rgstrpic{
  background: url("{% static './img/thom.jpg' %}") no-repeat;
  background-size: cover;
  height: 60em;
  margin-top: -2em;
}

{% endblock %}
</style>

{% block content %}
<div class="regclosed">
	<div class="container">
		<p>{% trans "Registration is currently closed. We do apologize!" %}</p>
	</div>
</div>

<div class='rgstrpic'>
	<div class="container">

	</div>
</div>
{% endblock %}
