{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}404 Error | {{ block.super }} {% endblock %}

<style>
{% block style %}
.container{
  width: 100%;
  margin: 0;
  padding: 0;;
}

.error{
  padding-top: 5em;
  margin-top: 5em;
  height: 50em;
  color: #858585;
  text-align: center;
  background: url({% static 'img/taner-ardali.jpg' %}) no-repeat;
  background-size: cover;
  margin-top: -2em;
}


.error h1 {
  padding-top: 5em;
}

{% endblock %}
</style>

{% block content %}
<body>

  <div class="error">
    <div class="container">
      <div class="inner cover">
        <h1 class="cover-heading">404 error. Sorry this page does not exit. </h1>
      </div>
    </div>
  </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script> -->
</body>
{% endblock %}
