{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}About Us | {{ block.super }} {% endblock %}

<style>
{% block style %}
.container{
  width: 100%;
  margin: 0;
  padding: 0;;
}


body{
  background-color: white;
}
/*
.page-header{
  text-align: center;
  height: 20em;
  color: #grey;
  background-color: white;
  margin-top: -2em;
}*/

#page-header-text{
  /*font-weight: bold;
  font-size: 5em;
  letter-spacing: 0.75em;
  padding-top: 1em;
  padding-left: 1.15em;
  text-align: center;
  color: white;*/
  font-size: 5em;
  padding-top: 2em;
  color: white;
  letter-spacing: 0.5em;
  font-weight: bold;
  text-align: center;
}

.aboutus-pic{
  background: url("{% static 'img/kari-shea.jpg' %}") no-repeat;
  background-size: cover;

  height: 36em;
  margin-top: -3em;
}

.TheTeam {
  height: 55em;
  background-color: #F0F0F0;
  color: black;
  text-align: center;
}


.TheTeam img{
  padding-top: 5em;
  padding-right: 2em;
  float: right;
}


.TheTeam h3{
  padding-top: 1.75em;
  text-align: left;
}

.TheTeam p{
  padding-top: 2em;
  text-align: left;
  line-height: 2em;
}

#teamheader{
  padding-top: 1em;
  font-size: 3em;
}

.OurStory {
  color: black;
  background-color: #F0F0F0;
  text-align: ;
  height: 60em;
  line-height: 2.5em;
}

.OurStory h1 {
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  padding-top: 1em;
}

.OurStory p {
  font-size: 2em;
  text-align: center;
  padding-top: 1em;
  line-height: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.OurStory i{
  letter-spacing: 1em;
  text-align: center;
  margin-left: .4em;
}

{% endblock %}
</style>

{% block content %}
<body>

  <div class="aboutus-pic">
    <div class="container">
      <div class="abuspic">
        <h1 id="page-header-text">ABOUT CALIFUSE</h1>
      </div>
    </div>
  </div>

  <div class="TheTeam">
    <div class="container">
      <h1 id="teamheader">The Team</h1>
      <div class="row">
        <div class="col-md-6">
          <img src="{% static 'img/califuse-about-page.jpg' %}" width="275" height="400" />
        </div>
        <div class="col-md-6">
          <h3>Ryan Anderson<br /><span style="font-size:0.5em; color: #666666;">Founder and CEO</h3></span>
          <p>
            Engineer and Entrepreneur<br />Studies at Ohio University.<br />
          </p>
          <p>
            <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i> Cincinnati, OH<br />
            <a href="https://twitter.com/RMAnderson23"><i class="fa fa-twitter fa-2x"></i>@RMAnderson23</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="OurStory">
    <div class="container">
      <h1></h1>
      <p>
        Hello and welcome to Califuse! I'm Ryan and I am the founder of the student network Califuse.com. I started Califuse to help students like myself who may have trouble connecting with companies that they want to work with.
        The inspiration for this network came when I noticed that the process in which companies connect with
        students in their industry is fundamentally flawed. Califuse believes that students are more than a simple resume and a GPA. Califuse allows students
         to share and present projects that they have either worked on in the classroom or independently.
        Califuse is a growing company currently in beta, and I would love for all of you to join our growing community and follow us as OUR network continues to grow and expand! Thank you.<br /><br /><br />
        <i class="fa fa-laptop fa-5x" aria-hidden="true"></i> <i class="fa fa-desktop fa-5x" aria-hidden="true"></i> <i class="fa fa-mobile fa-5x" aria-hidden="true"></i>
      </p>
    </div>
  </div>




</body>
{% endblock %}
