{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}FAQ | {{ block.super }} {% endblock %}

<style>
{% block style %}
.container{
  width: 100%;
  margin: 0;
  padding: 0;
}

.FAQ{
  background: url("{% static 'img/freestocks-org.jpg' %}") no-repeat center center;
  background-color: grey;
  margin-top: -2em;
  height: 35em;
}

.QA{
  font-size: 5em;
  padding-top: 2em;
  color: white;
  letter-spacing: 0.5em;
  font-weight: bold;
  text-align: center;
}

.quest{
  background-color: white;
  /*font-size: 2em;*/
  height: 27em;
  border-bottom: thin solid grey;
  text-align: center;
  color: #404040;
}

.quest p{
  padding-left: 2em;
  padding-right: 2em;
  line-height: 1.5em;
}

.question{
  font-weight: bold;
  font-size: 3em;
  padding-top: 1em;
  /*color: #8FD8D8;*/
}

.answer{
  font-size: .85em;
  padding-top: .5em;
  /*color: #575757;*/
}

{% endblock %}
</style>

{% block content %}
<div class="FAQ">
  <div class="container">
    <h1 class="QA">FAQ</h1>
  </div>
</div>

<div class="quest">
  <div class="container">
    <h2 class="question">Q: What is Califuse?<h2>
      <p class="answer">
        A: Califuse is a social media platform for students to show off projects and work that they have created through school, internship, or
        independent work with their peers and companies in their industry. Everyone loves to show off their accomplishments and we make that easy with Califuse
        by letting students connect with one another and share what they have done. Califuse is also great for companies to show what they do within their industry,
        to help connect with young, talented students for possible future employment.
      </p>
  </div>
</div>

<div class="quest">
  <div class="container">
    <h2 class="question">Q: How is Califuse different?<h2>
      <p class="answer">
        A: Califuse is a network designed to helping both current and recent graduate students to connect with companies that they would
        love to work for. The problem is that job boards
        are fundamentally broken with their approach. At Califuse we take a different approach by allowing student to showcase what they are working on,
        where they are in the process, and what they have done. We allow students to provide an in depth description and timeline of what they have worked on, rather than
        listing the title of their major projects on their resume. Califuse is also designed to allow students to connect with companies in the industry by showing their work to companies, as well
        as, following what their desired companies have created.
      </p>
  </div>
</div>

<div class="quest">
  <div class="container">
    <h2 class="question">Q: What can I expect with Califuse?<h2>
      <p class="answer">
        A: Use Califuse to showcase projects and skills that you have worked on in your college career. Also, follow friends, peers, and companies to see what they're working on.
        Califuse is an early stage and ever growing company with a multitude of features
        that will be coming out in the near future. Our network will only continue to grow and expand the more we connect with students and companies.
        We hope you are willing to go on this journey with us to develop and deliver a better product for all students.
      </p>
  </div>
</div>

<div class="quest">
  <div class="container">
    <h2 class="question">Q: How do I updates my Twitter/Facebook/Linkedin usernames<h2>
      <p class="answer">
        A: You can update your Twitter/Facebook/Linkedin usernames by visiting your profile page on any of these sites. The username
        that appears in the website url bar is what you want to copy in for your usernames. This will help others connect with you on networks
        outsite of Califuse to get to know you better
      </p>
  </div>
</div>

<div class="quest">
  <div class="container">
    <h2 class="question">Q: Does it cost anything?<h2>
      <p class="answer">
        A: Absolutely not! Califuse is free to use for students, companies, and professionals who are looking to connect with one another.
      </p>
  </div>
</div>

<div class="quest">
  <div class="container">
    <h2 class="question">Q: Can I join the team?<h2>
      <p class="answer">
        A: Califuse is an expanding network that will be looking for expand internally very shortly. Follow us on AngelList
        to stay up to date with possible openings.<br><br> <a href="http://angellist.com/califuse" target="blank">Learn More</a>
      </p>
  </div>
</div>

{% endblock %}
