{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}FAQ | {{ block.super }} {% endblock %}

<style>
{% block style %}
.container{
  width: 100%;
  margin: 0;
  padding: 0;
}

.FAQ{
  background: url("{% static 'img/work.jpg' %}") no-repeat center center;
  background-color: grey;
  margin-top: -2em;
  height: 35em;
}

.QA{
  font-size: 5em;
  padding-top: 1em;
  color: white;
  letter-spacing: 0.5em;
  font-weight: bold;
  text-align: center;
}

.quest{
  background-color: white;
  /*font-size: 2em;*/
  height: 25em;
  border-bottom: thin solid grey;
  text-align: center;
  color: #404040;
}

.question{
  font-weight: bold;
  font-size: 3em;
  padding-top: 1em;
  /*color: #8FD8D8;*/
}

.answer{
  font-size: .85em;
  padding-top: .5em;
  /*color: #575757;*/
}

{% endblock %}
</style>

{% block content %}
<div class="FAQ">
  <div class="container">
    <h1 class="QA">FAQ</h1>
  </div>
</div>

<div class="quest">
  <div class="container">
    <h2 class="question">Q: What is Califuse?<h2>
      <p class="answer">
        A: Califuse is a social media platform for students to show off projects and work that they have completed either through their major or
        independently with their peers and companies in their industry. Everyone loves to show off their accomplishments and we make that easy with Califuse
        by letting students connnect with one another and share what they have done. Califuse is also great for companies to show what they do withing their industry,
        to help connect with young talented students for posibily future employment.
      </p>
  </div>
</div>

<div class="quest">
  <div class="container">
    <h2 class="question">Q: How is Califuse different?<h2>
      <p class="answer">
        A: Califuse is a website designed to helping both current and recent graduate students to connect with companies that they would
        love to work for. The problem is that job boards
        are fundamentally broken with their approach. At Califuse we take a different approach by allowing student to showcase what they are working on,
        where they are in the process, and what they have done. We allow students to provide an in depth description and timeline of what they have worked on, rather than
        having just a couple line on a resume. Califuse is also designed to allow students to connect with companies in the industry by showing their work to companies, as well
        as, following what their desired companies have created.
      </p>
  </div>
</div>

<div class="quest">
  <div class="container">
    <h2 class="question">Q: Why should I use Califuse?<h2>
      <p class="answer">
        A: At Califuse we are devoted to improving the unemployment rate of students graduating college.
        The fact is that 60% of students that are apart of an internships will get a full time offer after
        graduation. Students that do not particpate in an internhsip have a 36% chance of getting a
        full time job upon graduation.
      </p>
  </div>
</div>

<div class="quest">
  <div class="container">
    <h2 class="question">Q: What can I expect with Califuse?<h2>
      <p class="answer">
        A: We recommend using Califuse to showcase projects and skills that you have worked on in your college career and connect with peers and friends.
        Califuse is an early stage and ever growing company with a multitude of features
        that will be coming out in the near future. Our website will only continue to grow and expand the more we get people to rally behind us.
        We hope you are willing to go on this journey with us to develop and deliver a better product for all students and eventually the entire world.
  </div>
</div>

<div class="quest">
  <div class="container">
    <h2 class="question">Q: Does it cost anything?<h2>
      <p class="answer">
        A: Absolutely not! Califuse is free to use for both students, companies, and alumni who are looking to connect.
      </p>
  </div>
</div>

<div class="quest">
  <div class="container">
    <h2 class="question">Q: Are you hiring?<h2>
      <p class="answer">
        A: Definitely! Our small team at Califuse is currently looking for passionate, smart, driven people to
        become a part of our team.<br><br> <a href="http://angellist.com/califuse">Learn More</a>
      </p>
  </div>
</div>

{% endblock %}
